<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="WebServerPrefixes" value="http://+:31683/"/>
    <add key="SpiderPath" value="C:\Users\Evgeny\Documents\Recipes\RecipeTests\bin\Release\"/>
    <add key="ClassificationFile" value="C:\curly-invention\RecipeTests\bin\Release\classification.xls"/>
    <add key="TypesFile" value="C:\curly-invention\RecipeTests\bin\Release\types.by.sensitivity.xls"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>